.img,
img {
  width: 100%;
}
.img {
  position: relative;
}
.img:after {
  width: 100%;
  content: "<button>Hello from Poland</button>";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(
    to right,
    rgb(49, 227, 247) 0%,
    rgba(255, 255, 255, 0) 69%
  );
  height: 100%;
}
